{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>
  
    <form action="http://127.0.0.1:5000/addNewTitle" method="post">
        <label for="title">Enter your title: </label>
        <p><input type="text" name="nm"></p>
        <p><input type = "submit" value = "submit" /></p>
        <label for="title">Update your card: </label>
        <p><input type="text" id="cardId"></p>
        <input type="button" onclick="window.location.href='/updateCard/60afa040b07e9a4371098530/ToDo';" value="ToDo"/>
        <input type="button" onclick="window.location.href='/updateCard/60bf89d905749b885a39b6ec/Doing';" value="Doing"/> 
        <input type="button" onclick="window.location.href='/updateCard/60b7fe3a74f9c35594741e71/Done';" value="Done"/> 
    </form> 

  <div class="row">
    <div class="col-md-12">
      <h2>Items</h2>
      <ul class="list-group mb-4">
        <table class="table"> <!--BootStrap-->
          <tr><th>Id</th><th>ToDo</th><th>Status</th></tr>
          {% for item in view_model.items %}
          <tr>
            <td> {{item.id}} </td> 
            <td> {{item.title}} </td>
            <td> {{item.status}} </td> 
          </tr>
          {% endfor %}  
        </table>
        <!-- List the todo items here -->
      </ul>
    </div>
  </div>
{% endblock %}