{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>
  
    <form action="http://127.0.0.1:5000/addNewTitle" method="post">
        <label for="title">Enter your title: </label>
        <p><input type="text" name="nm"></p>
        <p><input type = "submit" value = "submit" /></p>
    </form> 

  <div class="row">
    <div class="col-md-12">
      <h2>Items</h2>
      <ul class="list-group mb-4">
        <table class="table"> <!--BootStrap-->
          <tr><th>Id</th><th>Title</th><th>Status</th></tr>
          {% for item in view_model.itemsToDo %}
          <tr>
            <td> {{item.id}} </td> 
            <td> {{item.title}} </td>
            <td> {{item.status}}
              <input type="button" onclick="window.location.href='/updateCard/{{item.id}}/ToDo';" value="ToDo"/>
              <input type="button" onclick="window.location.href='/updateCard/{{item.id}}/Doing';" value="Doing"/> 
              <input type="button" onclick="window.location.href='/updateCard/{{item.id}}/Done';" value="Done"/> 
            </td>  
          </tr>
          {% endfor %}  
        </table>
        <table class="table"> <!--BootStrap-->
          <tr><th>Id</th><th>Title</th><th>Status</th></tr>
          {% for item in view_model.itemsDoing %}
          <tr>
            <td> {{item.id}} </td> 
            <td> {{item.title}} </td>
            <td> {{item.status}}
              <input type="button" onclick="window.location.href='/updateCard/{{item.id}}/ToDo';" value="ToDo"/>
              <input type="button" onclick="window.location.href='/updateCard/{{item.id}}/Doing';" value="Doing"/> 
              <input type="button" onclick="window.location.href='/updateCard/{{item.id}}/Done';" value="Done"/> 
            </td> 
          </tr>
          {% endfor %}  
        </table>
        <table class="table"> <!--BootStrap-->
          <tr><th>Id</th><th>Title</th><th>Status</th></tr>
          {% for item in view_model.itemsDone %}
          <tr>
            <td> {{item.id}} </td> 
            <td> {{item.title}} </td>
            <td> {{item.status}}
              <input type="button" onclick="window.location.href='/updateCard/{{item.id}}/ToDo';" value="ToDo"/>
              <input type="button" onclick="window.location.href='/updateCard/{{item.id}}/Doing';" value="Doing"/> 
              <input type="button" onclick="window.location.href='/updateCard/{{item.id}}/Done';" value="Done"/> 
            </td>    
          </tr>
          {% endfor %}  
        </table>
        <!-- List the todo items here -->
      </ul>
    </div>
  </div>
{% endblock %}